@font-face {
    font-family: "Bluu Next";
    src: url(bluunext.woff2),url(bluunext.woff);
}


body{
    font-size: 24px;
    line-height: 1.25;
  
    font-family: "Bluu Next", 'Times New Roman';
    text-align: center;
    background-color: #edc7a9;
    background-image: linear-gradient(180deg,#ffffff,rgba(255,255,255,0));
    height: 100vh;
}

h2{
    font-size: 93px;
    margin: 0;
}
h1{
    font-size: 24px;
    margin: 4px;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    transition: background-color 1s;
    display: inline-block;
}

.info{
 width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer{
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    margin: 0 10px 0 10px;
}